@font-face {
    font-family: "Olive";
    src: url(../assets/fonts/Kollektif.ttf);
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;

}

h1,
h2,
h3 {
    font-family: "Kollectif", sans-serif !important;
}

.home-header {
    min-width: 500px;
    height: 65vh;
    background-color: #1d5e85;

    .home-header-content {
        margin: auto;

        .header-navigation {
            min-height: 130px;
            height: 12vh;
        }

        .header-text {
            height: 48vh;
            display: flex;
            align-items: center;

            h1 {
                margin-left: 10%;
                margin-bottom: 5%;
                font-weight: 700;
                font-size: 4em;
            }
        }
    }
}